@model IEnumerable<PartialView.Model.Films>


@foreach (var item in Model)
{
    <div class="row">
        <div class="col-12">
            <h2>
                @Html.DisplayFor(modelItem => item.Title)
            </h2>
        </div>
        <div class="col-12">
            <p> <b>Duration:</b>  @Html.DisplayFor(modelItem => item.Duration)</p>
        </div>
        <div class="col-6">
            <p> <b>Description:</b>  @Html.DisplayFor(modelItem => item.Description)</p>
        </div>
    </div>

}